/*
 * Freescale ls1028a SOC common device tree source
 *
 * Copyright 2017-2019 NXP
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/{
	compatible= "fsl,ls1028a";
	interrupt-parent= <&gic>;
	#address-cells= <2>;
	#size-cells= <2>;

	cpus{
		#address-cells= <0x2>;
		#size-cells= <0x0>;

		cpu0:cpu@0 {
			device_type= "cpu";
			compatible= "arm,cortex-a72", "arm,armv8";
			reg= <0x0 0x0>;	/* check if address is correct */
			enable-method= "psci"; /* check if this is needed */
		};

		cpu1:cpu@1 {
			device_type= "cpu";
			compatible= "arm,cortex-a72", "arm,armv8";
			reg= <0x0 0x1>;	/* check if address is correct */
			enable-method= "psci";/* check if this is needed */
		};
	};

	sysclk:sysclk {
		compatible= "fixed-clock";
		#clock-cells= <0>;
		clock-frequency= <100000000>;
		clock-output-names= "sysclk";
	};

	clockgen:clocking@1300000 {	/* Clock Generation Unit  CGU_CGA*/
		compatible= "fsl,ls1028a-clockgen";
		reg= <0x0 0x1300000 0x0 0x1000>;
		#clock-cells= <2>;
		clocks= <&sysclk>;
	};

	memory@01080000{
		device_type= "memory";
		reg= <0x00000000 0x01080000 0 0x80000000>;/* DRAM space - 1, size : 2 GB DRAM */
	};

	gic:interrupt-controller@6000000 {
		compatible= "arm,gic-v3";
		reg= <0x0 0x06000000 0 0x10000>, /* GIC Dist */
		     <0x0 0x06020000 0 0x10000>; /* GIC Registers */
		#interrupt-cells= <3>;
		interrupt-controller;
		interrupts= <1 9 0x4>;/* modify interrupts specifiers */
		gic-its@6030000{
			compatible= "arm,gic-v3-its";
			msi-controller;
			#msi-cells= <1>;
			reg= <0x0 0x06030000 0 0x10000>;	/* GIC Translater */
		};
	};

	timer{
		compatible= "arm,armv8-timer";
		reg= <0x0 0x023D0000 0 0x10000>, /* Generic Reference Timer (GRT) */
			<0x0 0x023E0000 0 0x10000>, /* GRT control CNTControlBase */
			<0x0 0x023F0000 0 0x10000>, /* GRT status CNTReadBase */
			<0x0 0x02880000 0 0x10000>, /* GRT non-secure control CNTCTLBase_NS */
			<0x0 0x02890000 0 0x10000>, /* GRT secure control CNTCTLBase_S */
			<0x0 0x028A0000 0 0x10000>, /* GRT non-secure base0 CNTCTLBase0 */
			<0x0 0x028B0000 0 0x10000>, /* GRT non-secure base1 CNTCTLBase1  */
			<0x0 0x028C0000 0 0x10000>, /* GRT secure base2 CNTCTLBase2 */
			<0x0 0x028D0000 0 0x10000>, /* GRT secure base3 CNTCTLBase3  */
			<0x0 0x028E0000 0 0x10000>, /* GRT non-secure base0 CNTCTLEL0Base0 */
			<0x0 0x028F0000 0 0x10000>; /* GRT secure base2 CNTCTLEL0Base2 */
		interrupts= <1 13 0x8>, /* Physical Secure PPI, active-low */
			    <1 14 0x8>, /* Physical Non-Secure PPI, active-low */
			    <1 11 0x8>, /* Virtual PPI, active-low */
			    <1 10 0x8>; /* Hypervisor PPI, active-low */
	};

	watchdogtimer{
		compatible= "arm,armv8-timer";
		reg= <0x0 0x023C0000 0 0x10000>; /* TZWDT TrustZone Watchdog timer */
		interrupts= <1 13 0x8>, /* Physical Secure PPI, active-low */
			    <1 14 0x8>, /* Physical Non-Secure PPI, active-low */
			    <1 11 0x8>, /* Virtual PPI, active-low */
			    <1 10 0x8>; /* Hypervisor PPI, active-low */
	};

	flextimer{
		compatible= "fsl,flextimer";
		reg= <0x0 0x02800000 0 0x10000>, /* FTMR1 */
		     <0x0 0x02810000 0 0x10000>, /* FTMR2 */
		     <0x0 0x02820000 0 0x10000>, /* FTMR3 */
		     <0x0 0x02830000 0 0x10000>, /* FTMR4 */
		     <0x0 0x02840000 0 0x10000>, /* FTMR3 */
		     <0x0 0x02850000 0 0x10000>, /* FTMR3 */
		     <0x0 0x02860000 0 0x10000>, /* FTMR3 */
		     <0x0 0x02870000 0 0x10000>; /* FTMR3 */
		interrupts= <1 13 0x8>, /* Physical Secure PPI, active-low */
		    <1 14 0x8>, /* Physical Non-Secure PPI, active-low */
		    <1 11 0x8>, /* Virtual PPI, active-low */
		    <1 10 0x8>; /* Hypervisor PPI, active-low */
	};

	serial0:serial@21C0000 {
		device_type= "serial";
		compatible= "fsl,ns16550", "ns16550a";
		reg= <0x0 0x21C0000 0x0 0x1000>;
		clock-frequency= <0>;	/* Updated by bootloader */
		interrupts= <0 32 0x1>;	/* edge triggered */
	};

	serial1:serial@2260000 {
		device_type= "serial";
		compatible= "fsl,ns16550", "ns16550a";
		reg= <0x0 0x2260000 0x0 0x1000>;
		clock-frequency= <0>;	/* Updated by bootloader */
		interrupts= <0 32 0x1>;	/* edge triggered */
	};

	dspi1:dspi@2100000 {
		compatible= "fsl,vf610-dspi";
		#address-cells= <1>;
		#size-cells= <0>;
		reg= <0x0 0x2100000 0x0 0x1000>;
		interrupts= <0 26 0x4>; /* Level high type */
		num-cs= <6>;
	};

	dspi2:dspi@2110000 {
		compatible= "fsl,vf610-dspi";
		#address-cells= <1>;
		#size-cells= <0>;
		reg= <0x0 0x2110000 0x0 0x1000>;
		interrupts= <0 26 0x4>; /* Level high type */
		num-cs= <6>;
	};

/* TODO: Remove this node. This is NOT defined in CCSR block offsets for Ch3.2
 *	qspi:quadspi@1550000 {
 *		compatible= "fsl,vf610-qspi";
 *		#address-cells= <1>;
 *		#size-cells= <0>;
 *		reg= <0x0 0x20c0000 0x0 0x10000>,
 *			<0x00x20000000 0x0 0x10000000>;
 *		reg-names= "QuadSPI", "QuadSPI-memory";
 *		num-cs= <4>;
 *	};
 */

	usb0:usb3@3100000 {
		compatible= "fsl,layerscape-dwc3";
		reg= <0x0 0x3100000 0x0 0x10000>;
		interrupts= <0 80 0x4>; /* Level high type */
		dr_mode= "host";
	};

	usb1:usb3@3110000 {
		compatible= "fsl,layerscape-dwc3";
		reg= <0x0 0x3110000 0x0 0x10000>;
		interrupts= <0 81 0x4>; /* Level high type */
		dr_mode= "host";
	};

	sata@3200000{
		compatible= "marvell,orion-sata";
		reg= <0X0 0X03200000 0X0 0x1000>;
		interrupts= <0 133 0x4>; /* Level high type */
		clocks= <&gateclk 14>, <&gateclk 20>;/* add appropriate clocks */
		clock-names= "0", "1";
		status= "disabled";
	};

	pcie@3400000{		/* rcie_enetc */
		compatible= "fsl,ls-pcie", "snps,dw-pcie";
		reg= <0x00 0x03400000 0x0 0x10000   /* PF0 / shared registers */
		      0x00 0x03480000 0x0 0x10000   /* AMQ map registers */
		      0x00 0x034C0000 0x0 0x10000>; /* control registers */
		reg-names= "pf0", "amq", "control";
		interrupts= <0 109 0x4>; /* Level high type */
		#address-cells= <3>;
		#size-cells= <2>;
		device_type= "pci";
		num-lanes= <4>;
		bus-range= <0x0 0xff>;
		ranges= <0x81000000 0x0 0x00000000 0x10 0x00020000 0x0 0x00010000   /* downstream I/O */
			 0x82000000 0x0 0x40000000 0x10 0x40000000 0x0 0x40000000>; /* non-prefetchable memory */
	};

	pcie@3500000{		/* pex2_device */
		compatible= "fsl,ls-pcie", "snps,dw-pcie";
		reg= <0x00 0x03500000 0x0 0x10000   /* PF0 / shared registers */
		      0x00 0x03580000 0x0 0x10000   /* AMQ map registers */
		      0x00 0x035C0000 0x0 0x10000>; /* control registers */
		reg-names= "pf0", "amq", "control";
		interrupts= <0 114 0x4>; /* Level high type */
		#address-cells= <3>;
		#size-cells= <2>;
		device_type= "pci";
		num-lanes= <4>;
		bus-range= <0x0 0xff>;
		ranges= <0x81000000 0x0 0x00000000 0x12 0x00020000 0x0 0x00010000   /* downstream I/O */
			 0x82000000 0x0 0x40000000 0x12 0x40000000 0x0 0x40000000>; /* non-prefetchable memory */
	};
};
