/*
 * Device Tree Include file for NXP Layerscape-1088A family SoC.
 *
 * SPDX-License-Identifier: GPL-2.0+
 * Copyright 2018-2019 NXP
 *
 * Harninder Rai <harninder.rai@nxp.com>
 *
 */

/dts-v1/;
#include "fsl-ls1028a-qds.dts"

&mdio_slot1 {
	/* AQR112 PHY - USXGMII (up to 2.5G) */
	slot1_phy1_replace: mdio_phy0@02 {
		compatible = "ethernet-phy-id03a1.b662";
		reg = <2>;
	};
};

&mdio_slot2 {
	/* AQR412 PHY - QSXGMII (4*2.5G) */
	slot2_phy1_replace: emdio1_phy@1 {
		compatible = "ethernet-phy-id03a1.b712";
		reg = <0>;
	};
	slot2_phy2_replace: emdio1_phy@2 {
		compatible = "ethernet-phy-id03a1.b712";
		reg = <1>;
	};
	slot2_phy3_replace: emdio1_phy@3 {
		compatible = "ethernet-phy-id03a1.b712";
		reg = <2>;
	};
	slot2_phy4_replace: emdio1_phy@4 {
		compatible = "ethernet-phy-id03a1.b712";
		reg = <3>;
	};
};

&enetc_port0 {
	phy-handle = <&slot1_phy1_replace>;
};

/* l2switch ports don't use the PHYs yet, due to a probing order issue */
