/*
 * QorIQ BMan Portal device tree stub for 10 portals
 *
 * Copyright 2011-2016 Freescale Semiconductor Inc.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *	 notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *	 notice, this list of conditions and the following disclaimer in the
 *	 documentation and/or other materials provided with the distribution.
 *     * Neither the name of Freescale Semiconductor nor the
 *	 names of its contributors may be used to endorse or promote products
 *	 derived from this software without specific prior written permission.
 *
 *
 * ALTERNATIVELY, this software may be distributed under the terms of the
 * GNU General Public License ("GPL") as published by the Free Software
 * Foundation, either version 2 of that License or (at your option) any
 * later version.
 *
 * THIS SOFTWARE IS PROVIDED BY Freescale Semiconductor ``AS IS'' AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL Freescale Semiconductor BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

&bportals {
	  #address-cells = <1>;
	  #size-cells = <1>;
	  compatible = "simple-bus";
	  bportal0: bman-portal@0 {
		cell-index = <0>;
		compatible = "fsl,bman-portal";
		reg = <0x0 0x4000 0x4000000 0x4000>;
		interrupts = <0 173 0x4>;
	};
	bportal1: bman-portal@10000 {
		cell-index = <1>;
		compatible = "fsl,bman-portal";
		reg = <0x10000 0x4000 0x4010000 0x4000>;
		interrupts = <0 175 0x4>;
	};
	bportal2: bman-portal@20000 {
		cell-index = <2>;
		compatible = "fsl,bman-portal";
		reg = <0x20000 0x4000 0x4020000 0x4000>;
		interrupts = <0 177 0x4>;
	};
	bportal3: bman-portal@30000 {
		cell-index = <3>;
		compatible = "fsl,bman-portal";
		reg = <0x30000 0x4000 0x4030000 0x4000>;
		interrupts = <0 179 0x4>;
	};
	bportal4: bman-portal@40000 {
		cell-index = <4>;
		compatible = "fsl,bman-portal";
		reg = <0x40000 0x4000 0x4040000 0x4000>;
		interrupts = <0 181 0x4>;
		};
	bportal5: bman-portal@50000 {
		cell-index = <5>;
		compatible = "fsl,bman-portal";
		reg = <0x50000 0x4000 0x4050000 0x4000>;
		interrupts = <0 183 0x4>;
	};
	bportal6: bman-portal@60000 {
		cell-index = <6>;
		compatible = "fsl,bman-portal";
		reg = <0x60000 0x4000 0x4060000 0x4000>;
		interrupts = <0 185 0x4>;
	};
	bportal7: bman-portal@70000 {
		cell-index = <7>;
		compatible = "fsl,bman-portal";
		reg = <0x70000 0x4000 0x4070000 0x4000>;
		interrupts = <0 187 0x4>;
	};
	bportal8: bman-portal@80000 {
		cell-index = <8>;
		compatible = "fsl,bman-portal";
		reg = <0x80000 0x4000 0x4080000 0x4000>;
		interrupts = <0 189 0x4>;
	};
/*	bportal9: bman-portal@90000 {
		cell-index = <9>;
		compatible = "fsl,bman-portal";
		reg = <0x90000 0x4000 0x4090000 0x4000>;
		interrupts = <0 191 0x4>;
	}; */
	 bman-bpids@0 {
                compatible = "fsl,bpid-range";
                fsl,bpid-range = <32 32>;
        };

};
