# general options
CONFIG_ARM_LPAE=y
CONFIG_ARCH_DMA_ADDR_T_64BIT=y
CONFIG_XFRM_USER=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=262144
CONFIG_HWMON=y
# clock driver
CONFIG_CLK_QORIQ=y
# net
CONFIG_GIANFAR=y
# mdio
CONFIG_FSL_XGMAC_MDIO=y
CONFIG_MDIO_BUS_MUX_MMIOREG=y
CONFIG_MDIO_GPIO=y
# phy
CONFIG_AQUANTIA_PHY=y
CONFIG_VITESSE_PHY=y
CONFIG_REALTEK_PHY=y
CONFIG_NATIONAL_PHY=y
CONFIG_FIXED_PHY=y
# can
CONFIG_CAN_FLEXCAN=y
# mtd
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_GEN_PROBE=y
CONFIG_MTD_CFI=y
CONFIG_MTD_CFI_BE_BYTE_SWAP=y
CONFIG_MTD_CFI_ADV_OPTIONS=y
CONFIG_MTD_CFI_GEOMETRY=y
CONFIG_MTD_CFI_INTELEXT=y
CONFIG_MTD_CFI_AMDSTD=y
CONFIG_MTD_CFI_STAA=y
CONFIG_MTD_PHYSMAP_OF=y
CONFIG_MTD_DATAFLASH=y
CONFIG_MTD_SST25L=y
CONFIG_MTD_NAND_FSL_IFC=y
CONFIG_EEPROM_AT24=y
# qspi
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_SPI_FSL_QUADSPI=y
# ahci/sata
CONFIG_CHR_DEV_SG=y
CONFIG_AHCI_QORIQ=y
CONFIG_SATA_SIL24=y
# esdhc
CONFIG_MMC_SDHCI_OF_ESDHC=y
# i2c
CONFIG_I2C_IMX=y
# dspi
CONFIG_SPI_BITBANG=y
CONFIG_SPI_FSL_DSPI=y
# watchdog
CONFIG_IMX2_WDT=y
# sound
CONFIG_SND_MIXER_OSS=y
CONFIG_SND_PCM_OSS=y
CONFIG_SND_SOC_FSL_SAI=y
CONFIG_SND_SOC_SGTL5000=y
CONFIG_SND_SIMPLE_CARD=y
# rtc
CONFIG_RTC_DRV_DS3232=y
CONFIG_RTC_DRV_PCF2127=y
# edma
CONFIG_FSL_EDMA=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_FSL_SOC_DRIVERS=y
CONFIG_LS_SOC_DRIVERS=y
# file system
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=y
CONFIG_FANOTIFY=y
CONFIG_FANOTIFY_ACCESS_PERMISSIONS=y
CONFIG_JFFS2_FS=y
# Disable PCI_KERYSTONE support
# CONFIG_PCI_KEYSTONE is not set
