config FSL_DPAA2_ETHSW
	tristate "DPAA2 Ethernet Switch"
	depends on FSL_MC_BUS && FSL_DPAA2 && FSL_DPAA2_ETH
	select FSL_DPAA2_MAC
	default y
	---help---
	Prototype driver for DPAA2 Ethernet Switch.
