config FSL_ENETC
	tristate "ENETC PF driver"
	depends on PCI
	---help---
	  TBD

config FSL_ENETC_VF
	tristate "ENETC VF driver"
	depends on PCI
	---help---
	  TBD

config FSL_ENETC_PTP_CLOCK
	tristate "ENETC PTP clock driver"
	depends on FSL_ENETC || FSL_ENETC_VF
	select PTP_1588_CLOCK
	---help---
	  This driver adds support for using the ENETC 1588 timer
	  as a PTP clock. This clock is only useful if your PTP
	  programs are getting hardware time stamps on the PTP Ethernet
	  packets using the SO_TIMESTAMPING API.

	  To compile this driver as a module, choose M here: the module
	  will be called fsl-enetc-ptp.

config FSL_ENETC_HW_TIMESTAMPING
	bool "ENETC hardware timestamping support"
	depends on FSL_ENETC || FSL_ENETC_VF
	select FSL_ENETC_PTP_CLOCK
	---help---
	  Enable hardware timestamping support on the Ethernet packets
	  using the SO_TIMESTAMPING API. Because the RX BD ring dynamic
	  allocation hasn't been supported and it's too expensive to use
	  extended RX BDs if timestamping isn't used, the option was used
	  to control hardware timestamping/extended RX BDs to be enabled
	  or not.

if FSL_ENETC

config ENETC_TSN
	bool "TSN Support for NXP ENETC driver"
	default n
	depends on TSN
	---help---
	  This driver supports TSN on Freescale ENETC driver.
endif
