config FSL_ENETC
	tristate "ENETC PF driver"
	depends on PCI
	---help---
	  TBD

config FSL_ENETC_VF
	tristate "ENETC VF driver"
	depends on PCI
	---help---
	  TBD

if FSL_ENETC

config ENETC_TSN
	bool "TSN Support for NXP ENETC driver"
	default n
	depends on TSN
	---help---
	  This driver supports TSN on Freescale ENETC driver.
endif
