menu "SOC (System On Chip) specific Drivers"

source "drivers/soc/fsl/qe/Kconfig"
source "drivers/soc/mediatek/Kconfig"
source "drivers/soc/qcom/Kconfig"
source "drivers/soc/ti/Kconfig"
source "drivers/soc/versatile/Kconfig"

config	FSL_SOC_DRIVERS
	bool "Freescale Soc Drivers"
	depends on FSL_SOC || ARCH_MXC || ARCH_LAYERSCAPE
	default n
	help
	Say y here to enable Freescale Soc Device Drivers support.
	The Soc Drivers provides the device driver that is a specific block
	or feature on Freescale platform.

if FSL_SOC_DRIVERS
	source "drivers/soc/fsl/Kconfig"
endif

endmenu
