#
# Freescale device configuration
#

config FSL_DPAA2
	bool "Freescale DPAA2 devices"
	depends on FSL_MC_BUS
	---help---
	  Build drivers for Freescale DataPath Acceleration Architecture (DPAA2) family of SoCs.
# TODO move DPIO driver in-here?
source "drivers/staging/fsl-dpaa2/ethernet/Kconfig"
source "drivers/staging/fsl-dpaa2/mac/Kconfig"
source "drivers/staging/fsl-dpaa2/ethsw/Kconfig"
source "drivers/staging/fsl-dpaa2/evb/Kconfig"
source "drivers/staging/fsl-dpaa2/dce/Kconfig"
