
config HW_DISTRIBUTION_WITH_OH
	default n
	bool "Bonding driver with h/w based Tx traffic distribuition support"
	depends on BONDING
	depends on FSL_DPAA_OFFLINE_PORTS
	---help---
	  Say 'Y' if you wish to distribute Tx data traffics based on
	  the hardware of Freescale DPAA - Offline Port PCD in your
	  mode Link Aggregation (802.3ad mode)

	  In theory, this method can offload CPU when selecting the
	  transmit hash policy to use for slave device selection.
	  if this feature can integrate with CEETM Qos, they two can
	  provide a bundle Qos rather than individual links Qos.

config HW_LAG_DEBUG
	default n
	bool "Show detailed debug information"
	depends on HW_DISTRIBUTION_WITH_OH
	---help---
	  This provide a wrapper of pr_info, which can show useful debug
	  information such as function name and line number.
	  Say 'Y' if you wish to get more details debugging information
	  at run-time, otherwise please disable it.

