/*
 * T1042RDB_PI Device Tree Source
 *
 * Copyright 2014 Freescale Semiconductor Inc.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *	 notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *	 notice, this list of conditions and the following disclaimer in the
 *	 documentation and/or other materials provided with the distribution.
 *     * Neither the name of Freescale Semiconductor nor the
 *	 names of its contributors may be used to endorse or promote products
 *	 derived from this software without specific prior written permission.
 *
 *
 * ALTERNATIVELY, this software may be distributed under the terms of the
 * GNU General Public License ("GPL") as published by the Free Software
 * Foundation, either version 2 of that License or (at your option) any
 * later version.
 *
 * THIS SOFTWARE IS PROVIDED BY Freescale Semiconductor "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL Freescale Semiconductor BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/include/ "t104xsi-pre.dtsi"
/include/ "t104xrdb.dtsi"

/ {
	model = "fsl,T1042RDB_PI";
	compatible = "fsl,T1042RDB_PI";
	aliases {
		phy_rgmii_0 = &phy_rgmii_0;
		phy_rgmii_1 = &phy_rgmii_1;
	};

	ifc: localbus@ffe124000 {
		cpld@3,0 {
			compatible = "fsl,t1042rdb_pi-cpld";
		};
	};
	soc: soc@ffe000000 {
		i2c@118000 {
			rtc@68 {
				compatible = "dallas,ds1337";
				reg = <0x68>;
				interrupts = <0x2 0x1 0 0>;
			};
		};
		fman0: fman@400000 {
			rcpm-wakeup = <&rcpm 0x00000008>;

			enet0: ethernet@e0000 {
				status = "disabled";
			};

			enet1: ethernet@e2000 {
				status = "disabled";
			};

			enet2: ethernet@e4000 {
				status = "disabled";
			};

			enet3: ethernet@e6000 {
				phy-handle = <&phy_rgmii_0>;
				phy-connection-type = "rgmii";
				rcpm-wakeup = <&rcpm 0x10000000>;
			};

			enet4: ethernet@e8000 {
				phy-handle = <&phy_rgmii_1>;
				phy-connection-type = "rgmii";
				rcpm-wakeup = <&rcpm 0x08000000>;
			};

			mdio0: mdio@fc000 {
				phy_rgmii_0: ethernet-phy@01 {
					reg = <0x01>;
				};
				phy_rgmii_1: ethernet-phy@02 {
					reg = <0x02>;
				};
			};
		};
	};
	fsl,dpaa {
		compatible = "fsl,t1042-dpaa", "fsl,dpaa";
		ethernet@0 {
			status = "disabled";
		};
		ethernet@1 {
			status = "disabled";
		};
		ethernet@2 {
			status = "disabled";
		};
		ethernet@3 {
			compatible = "fsl,t1042-dpa-ethernet",
					"fsl,dpa-ethernet";
			fsl,fman-mac = <&enet3>;
		};
		ethernet@4 {
			compatible = "fsl,t1042-dpa-ethernet",
					"fsl,dpa-ethernet";
			fsl,fman-mac = <&enet4>;
		};
	};
};

#include "t1042si-post.dtsi"
/include/ "qoriq-dpaa-res3.dtsi"
